CONFIG_NO_HZ=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_SYSFS_DEPRECATED=y
CONFIG_SYSFS_DEPRECATED_V2=y
CONFIG_KALLSYMS_ALL=y

# CONFIG_BLK_DEV_BSG is not set

CONFIG_ARCH_S5PV210=y
CONFIG_MACH_MC210=y

CONFIG_VMSPLIT_2G=y
CONFIG_PREEMPT=y
CONFIG_AEABI=y

CONFIG_VFP=y
CONFIG_NEON=y

CONFIG_UEVENT_HELPER_PATH="/sbin/hotplug"

# CONFIG_INPUT_MOUSEDEV is not set
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_INPUT_MOUSE is not set

CONFIG_LEGACY_PTY_COUNT=32
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_SAMSUNG=y
CONFIG_SERIAL_SAMSUNG_CONSOLE=y
CONFIG_HW_RANDOM=y

# CONFIG_HWMON is not set

# CONFIG_HID is not set

# CONFIG_USB_SUPPORT is not set

# CONFIG_PHY_EXYNOS_MIPI_VIDEO is not set

CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y

CONFIG_PRINTK_TIME=y
CONFIG_DEBUG_INFO=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_DEBUG_KERNEL=y
# CONFIG_DEBUG_PREEMPT is not set
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_USER=y
CONFIG_DEBUG_LL=y
CONFIG_DEBUG_S3C_UART2=y
CONFIG_EARLY_PRINTK=y
